dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.ghc.environment.*

test/test.exe
test/test.hi
test/test.o
test/stack.yaml.lock
test/app/test.exe

.zig-cache/
zig-out/
test/Haskell/app/test.exe
test/Haskell/app/test.hi
test/Haskell/app/test.o
test/Haskell/app/test

test/NodeJS/node_modules/
test/NodeJS/package-lock.json